body {
  color: darkblue;
  font-family: Juice ITC, Helvetica, sans-serif;
  background-image: url("dots.png");
  background-size: 100%;
  background-repeat: no-repeat;
  /*changed20.07.2021*/
  margin-left: 15em;
}
